* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 2px 2px 2px;
}

p {
  font-size: 12px;
  line-height: 15px;
}

ul li {
  list-style: none;
  font-weight: 500;
  padding: 1px 5px;
  font-size: 14px;
}

.Header {
  background-color: #131921;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 15px 4px 10px;
  width: 100%;
}
.Header a:hover {
  border: 1px solid #fff;
  border-radius: 3px;
}
.Header-gps {
  margin-top: 10px;
  margin-right: 5px;
}
.Header-boxSearch {
  background-color: #ffffff;
}
.Header-navLogo {
  width: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.Header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.Header-item {
  padding: 10px 10px;
  position: relative;
}
.Header-item:hover {
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.Header-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Header-logo {
  text-align: center;
  margin: 1px;
  margin-bottom: -5px;
  padding: 6px 8px 0px 0px;
  height: 42px;
}
.Header-icons {
  padding: 1px 3px;
}
.Header-searchInput {
  width: 65rem;
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
  color: #131921;
  margin-left: -3px;
}
.Header-button {
  padding: 10px 10px;
  color: #131921;
  font-size: 17px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
}
.Header-selectAll {
  background: #F3F3F3;
  border-radius: 5px 0px 0px 5px;
  border-right: 1px solid #131921;
  width: 64px;
}
.Header-options {
  color: #131921;
}
.Header-buttonSearch {
  padding: 10px 22px;
  background: rgb(247, 155, 80);
  border-radius: 0px 5px 5px 0px;
}
.Header-boxSearch:hover {
  border: 4px solid rgb(247, 155, 80);
  -webkit-box-shadow: 0px 0px 3px 0px rgb(247, 155, 80);
          box-shadow: 0px 0px 3px 0px rgb(247, 155, 80);
  border-radius: 10px;
}

.Subnavigation {
  background-color: #131921;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 15px 4px 10px;
  background-color: #232f3e;
}
.Subnavigation a:hover {
  border: 1px solid #fff;
  border-radius: 3px;
}
.SubnavigationMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.SideMenu-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #131921;
}
.SideMenu-text {
  color: white;
  margin-left: 10px;
  font-weight: 700;
  font-family: inherit;
  font-size: 19px;
}
.SideMenu-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Divider {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #111;
  text-transform: capitalize;
  display: inline-block;
  background-color: #ffffff;
}

.mmenu {
  --mm-lineheight: 54px;
}

.mm-navbar__title span {
  color: #131921;
}

.mm-menu--theme-light {
  --mm-color-border: rgba(0,0,0,-0.85);
}

.mm-listitem__text {
  font-size: 14px;
}

.Hovermenu {
  background-color: #131921;
  height: 100vh;
  opacity: 0.6;
}
.Hovermenu-user {
  background-color: #131921;
  border-radius: 5px;
  display: none;
  height: 100%;
  max-width: 500px;
  max-height: 356px;
  position: absolute;
  top: 56px;
  right: 100px;
  width: 100%;
  z-index: 5;
}
.Hovermenu-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 20px 0;
}
.Hovermenu-top::after {
  background: #F3F3F3;
  content: "";
  display: block;
  height: 1px;
  width: 480px;
}
.Hovermenu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
  width: 100%;
}
.Hovermenu-left {
  border-right: 1px solid #F3F3F3;
  height: 250px;
  padding: 0 15px;
  width: 100%;
}
.Hovermenu-right {
  height: 250px;
  padding: 0px 15px;
  width: 100%;
}
.Hovermenu-button {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), color-stop(26%, rgb(239, 190, 68)), to(rgb(239, 190, 68)));
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(239, 190, 68) 26%, rgb(239, 190, 68) 100%);
  border: 1px solid rgb(247, 155, 80);
  border-radius: 5px;
  color: #111;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 50px;
}
.Hovermenu-title {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}
.Hovermenu-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 8px 0;
}
.Hovermenu-text .link {
  color: #0055aa;
  cursor: pointer;
  text-decoration: underline;
}
.Hovermenu-text .link:hover {
  color: rgb(247, 155, 80);
}
.Hovermenu-list {
  width: 100%;
}
.Hovermenu-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  list-style: none;
  max-width: 200px;
  padding: 2px 0;
}
.Hovermenu-item:hover {
  color: rgb(247, 155, 80);
  cursor: pointer;
  text-decoration: underline;
}
.Hovermenu-lenguage {
  background-color: #131921;
  border-radius: 5px;
  display: none;
  height: 100%;
  max-width: 240px;
  max-height: 520px;
  position: absolute;
  padding: 14px 14px 7px;
  right: 166px;
  width: 100%;
  z-index: 5;
}
.Hovermenu-itemLenguage {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  list-style: none;
  max-width: 200px;
  padding: 6px 0;
}
.Hovermenu-itemLenguage:hover {
  color: rgb(247, 155, 80);
  cursor: pointer;
  text-decoration: underline;
}
.Hovermenu-switch {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 5px 0;
}
.Hovermenu-switch .link {
  color: #0055aa;
  cursor: pointer;
  font-size: 11px;
  text-decoration: underline;
}
.Hovermenu-switch .link:hover {
  color: rgb(247, 155, 80);
}
.Hovermenu-switch .gray {
  color: #444;
}
.Hovermenu-switchs {
  color: #0055aa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 4px 0;
  text-align: right;
  margin-bottom: 10px;
}
.Hovermenu-switchs:hover {
  color: rgb(247, 155, 80);
  cursor: pointer;
  text-decoration: underline;
}
.Hovermenu-switchs.last {
  font-size: 13px;
  margin: 5px 0;
  text-align: center;
}
.Hovermenu-selected {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
.Hovermenu-selected::after {
  background: #bbb;
  content: "";
  display: block;
  height: 1px;
  width: 200px;
}
.Hovermenu-listLenguage {
  padding: 8px 0;
}
.Hovermenu-triangle {
  border-bottom: 20px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  right: 129px;
  top: -13px;
  position: absolute;
  width: 0;
}
.Hovermenu-triangle.lenguage {
  right: 160px;
  top: -18px;
}
.Hovermenu-outside {
  display: none;
  background-color: #131921;
  height: 830px;
  width: 100%;
  opacity: 0.4;
  position: absolute;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  top: 99px;
  z-index: 1;
}
.Hovermenu-iconLenguage {
  width: 30px;
  height: 15px;
}

.Modal-contenedor {
  margin: auto;
  width: 450px;
}
.Modal-grid {
  text-align: center;
  width: 500px;
  display: none;
  position: absolute;
  top: 0;
  left: 76vw;
  z-index: 1000;
}
.Modal-grid.activo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3px;
  border: 1px solid #bbb;
}
.Modal-categorias {
  width: 250px;
  grid-area: categorias;
  padding-top: 10px;
  min-height: 200px;
  background: #ffffff;
}
.Modal-categorias a {
  color: #131921;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}
.Modal-categorias a:hover {
  color: #E47911;
  font-weight: bold;
}
.Modal-subtitulo {
  color: #131921;
}