* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 2px 2px 2px;

}

p {
    font-size: 12px;
    line-height: 15px;
  }
  ul li {
    list-style: none;
    font-weight: 500;
    padding: 1px 5px;
    font-size: 14px;
    
  }