.Header {
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 15px 4px 10px;
    width: 100%;
& a{
    
    &:hover {
        border: 1px solid #fff;
        border-radius: 3px;
    }
}
&-gps{
    margin-top: 10px;
    margin-right: 5px;
}
    &-boxSearch {
        background-color: $white;
    }

    &-navLogo {
        width: 12vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    &-item {
        padding: 10px 10px;
        position: relative;

        &:hover {
            border: 1px solid $white;
            border-radius: 5px;
        }

        &-container {
            display: flex;
        }
    }

    &-logo {
        text-align: center;
        margin: 1px;
        margin-bottom: -5px;
        padding: 6px 8px 0px 0px;
        height: 42px;
    }

    &-icons {
        padding: 1px 3px;
    }

    &-searchInput {
        width: 65rem;
        padding: 10px;
        font-size: 17px;
        border: none;
        outline: none;
        color: $black;
        margin-left: -3px;
    }

    &-button {
        padding: 10px 10px;
        color: $black;
        font-size: 17px;
        border: none;
        border-radius: 5px 0px 0px 5px;
        cursor: pointer;
    }

    &-selectAll {
        background: $bold-gray;
        border-radius: 5px 0px 0px 5px;
        border-right: 1px solid $black;
        width: 64px;
    }

    &-options {
        color: $black;
    }

    &-buttonSearch {
        padding: 10px 22px;
        background: $orange;
        border-radius: 0px 5px 5px 0px;
    }

    &-boxSearch {
        &:hover {
            border: 4px solid rgb(247, 155, 80);
            box-shadow: 0px 0px 3px 0px rgb(247, 155, 80);
            border-radius: 10px;
        }
    }

}