.Hovermenu {
    background-color: #131921;
    height: 100vh;
    opacity: 0.6;

    &-user {
        background-color: $black;
        border-radius: 5px;
        display: none;
        height: 100%;
        max-width: 500px;
        max-height: 356px;
        position: absolute;
        top: 56px;
        right: 100px;
        width: 100%;
        z-index: 5;
    }

    &-top {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 20px 0;

        &::after {
            background:#F3F3F3;
            content: '';
            display: block;
            height: 1px;
            width: 480px;
        }
    }

    &-content {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: auto;
        width: 100%;
    }

    &-left {
        border-right: 1px solid #F3F3F3;
        height: 250px;
        padding: 0 15px;
        width: 100%;
    }

    &-right {
        height: 250px;
        padding: 0px 15px;
        width: 100%;
    }

    &-button {
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(239,190,68,1) 26%, rgba(239,190,68,1) 100%);
        border: 1px solid rgb(247, 155, 80);
        border-radius: 5px;
        color: #111;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif
;
        padding: 5px 50px;
    }

    &-title {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif
;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &-text {
        font-family: Arial, Helvetica, sans-serif
;
        font-size: 11px;
        margin: 8px 0;

        .link {
            color: #0055aa;
            cursor: pointer;
            text-decoration: underline;

            &:hover {
                color: rgb(247, 155, 80);
            }
        }
    }

    &-list {
        width: 100%;
    }

    &-item {
        font-family: Arial, Helvetica, sans-serif
;
        font-size: 13px;
        list-style: none;
        max-width: 200px;
        padding: 2px 0;

        &:hover {
            color: rgb(247, 155, 80);
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &-lenguage {
        background-color: $black;
        border-radius: 5px;
        display: none;
        height: 100%;
        max-width: 240px;
        max-height: 520px;
        position: absolute;
        padding: 14px 14px 7px;
        right: 166px;
        width: 100%;
        z-index: 5;
    }

    &-itemLenguage {
        font-family:Arial, Helvetica, sans-serif;
        font-size: 13px;
        list-style: none;
        max-width: 200px;
        padding: 6px 0;

        &:hover {
            color: rgb(247, 155, 80);
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &-switch {
        font-family: Arial, Helvetica, sans-serif
;
        font-size: 13px;
        padding: 5px 0;

        .link {
            color: #0055aa;
            cursor: pointer;
            font-size: 11px;
            text-decoration: underline;

            &:hover {
                color: rgb(247, 155, 80);
            }
        }

        .gray {
            color: #444;
        }
    }

    &-switchs {
        color: #0055aa;
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 11px;
        padding: 4px 0;
        text-align: right;
        margin-bottom: 10px;

        &:hover {
            color: rgb(247, 155, 80);
            cursor: pointer;
            text-decoration: underline;
        }

        &.last {
            font-size: 13px;
            margin: 5px 0;
            text-align: center;
        }
    }

    &-selected {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif
;
        margin: 10px 0;

        &::after {
            background: #bbb;
            content: '';
            display: block;
            height: 1px;
            width: 200px;
        }
    }

    &-listLenguage {
        padding: 8px 0;
    }

    &-triangle {
        border-bottom: 20px solid white;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0;
        right: 129px;
        top: -13px;
        position: absolute;
        width: 0;

        &.lenguage {
            right: 160px;
            top: -18px;
        }
    }


    &-outside {
        display: none;
        background-color: #131921;
        height: 830px;
        width: 100%;
        opacity: 0.4;
        position: absolute;
        transition: all ease-in-out 0.5s;
        top: 99px;
        z-index: 1;
    }

    &-iconLenguage{
        width: 30px;
        height: 15px;
    }

}