.Modal {
    &-contenedor {
        margin: auto;
        width: 450px;
        
    }

    &-grid {
        text-align: center;
        width: 500px;
        display: none;
        position: absolute;
        top: 0;
        left: 76vw;
        z-index: 1000;
        &.activo {
            display: flex;
            justify-content: space-between;
            border-radius: 3px;
            border: 1px solid $gray;
           
        }
    }



    &-categorias {
        width: 250px;
        grid-area: categorias;
        padding-top: 10px;
        min-height: 200px;
        background: $white;

        a {
            color: $black;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;

            &:hover {
                color: #E47911;
                font-weight: bold;
            }
        }
    }
&-subtitulo{
    color: $black;
}
}