.SideMenu {
    &-navbar {
        display: flex;
        background-color: $black;
    }

    &-text {
        color: white;
        margin-left: 10px;
        font-weight: 700;
        font-family: inherit;
        font-size: 19px;
    }
    &-navbar{
        display: flex;
    }
}

.Divider {
   padding-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: $black-ligth;
    text-transform: capitalize;
    display: inline-block;
    background-color: $white;
}


.mmenu {
    --mm-lineheight: 54px;
    
}
.mm-navbar__title {
    & span{
        color: $black;
    }
}
.mm-menu--theme-light{
    --mm-color-border: rgba(0,0,0,-0.85);
}
.mm-listitem__text{
    font-size: 14px;
}