.Subnavigation {
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 15px 4px 10px;
  background-color: $sub-bg;

  & a {

    &:hover {
      border: 1px solid #fff;
      border-radius: 3px;
    }
  }



  &Menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
}