$white:#ffffff;
$black:#131921;
$orange:rgb(247, 155, 80);
$sub-bg:#232f3e;
$gray:#bbb;
$bold-gray:#F3F3F3;
$black-ligth:#111;
$text-item: #444;
$font-principal: Arial, Helvetica, sans-serif;
